doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,300;1,400;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="/styles/form.css")
        title Registration
    body 
        .form-container.login-container.page-animation
            .form-container--inner
                .form-header.form-item
                    span.form-header--text Registration
                form.form.form-item(id="form")
                    input.form-input(name="nickname" type="text" placeholder="Nickname")
                    input.form-input(name="login" type="text" placeholder="Login")
                    input.form-input(id="password" name="password" type="password" placeholder="Password")
                    input.form-input(id="repassword" name="repassword" type="password" placeholder="Repeat password")
                    button.btn.form-submit-btn(type="submit") Register
                .notify.form-item
                .link-container.form-item
                    span.link-label Have an account?
                    a.link-text(href="/login") Login

        script(src="scripts/register.js" type="module") 
