mixin card-template 
    template#card-template
        .card
            .card-header
                span.card-cost 
            .card-body 
                span.card-alias 
                .card-img 
                    img(src="")
            .card-footer
                .card-attack
                    span 
                .card-defense
                    span
