mixin player-template 
    template#player-template
        .player-outer
            .player 
                .player-body 
                    .player-avatar 
                        img(src="" alt="Player's avatar")
                    .player-footer
                        span.player-health 
                .player-label 
                    span.player-nickname
