:root {

    --bg-primary: url('../assets/background/sky.gif');
    --bg-secondary: 163, 177, 169, 1;
    --bg-tertiary: 105, 110, 144;
    --bg-featured: 109, 129, 215;

    --color-white: 255, 255, 255;
    --color-white-dull: 223, 222, 222;
    --color-health: 254, 88, 33;
    --color-defense: 13, 130, 236;
    --color-attack: 226, 143, 10;
    --color-cost: 106, 103, 243;
    --color-available: 143, 226, 178;

    --shadow-lg: 0 0 20px 0 rgba(0, 0, 0, .3);
    --shadow-md: 0 0 12px 2px rgba(0, 0, 0, .2);
    --shadow-sm: 1px 1px 2px 0 rgba(0, 0, 0, .4);
    --shadow-btn: 0px 0px 20px 0px rgba(var(--bg-featured), .5);
    --shadow-text: 3px 3px 2px rgba(0, 0, 0, .4);

    --border-radius-lg: 40px;
    --border-radius-md: 25px;
    --border-radius-sm: 15px;

}